#location {
  @include box-shadow-1;
  background: url("../img/location/ihm_BG.png") no-repeat center center fixed;
  background-size: cover;

  .container {
    width: 960px;

    .location-card {
      margin-bottom: 20px;
    }
    
    iframe.map {
      height: 400px;
      width: 100%;
    }
  }
}
