
/* Color Mixins */
$primary-color: #AA00FF;
$pimary-color-light: #e254ff;
$primary-color-dark: #7200ca;
$primary-color-darker: #300055;

$seconday-color: #39ff14;
$seconday-color-light: #82ff5b;
$seconday-color-dark: #00ca00;

/* RGB Colors */
$primary-color-rgb: rgb(170,0,255);
$pimary-color-light-rgb: rgb(226,84,255);
$primary-color-dark-rgb: rgb(114,0,202);

