@mixin wedding-party-image($image) {
  background: url($image) center top no-repeat;
  background-size: cover;
}

#wedding-party {
  text-align: center;
  background-color: rgba(170, 0, 255, 0.1);
  background-image:
  /* Line 1 */
  repeating-linear-gradient(120deg, rgba(226,84,255,.1), rgba(226,84,255,.1) 1px, transparent 1px, transparent 60px),
  /* Line 2 */
  repeating-linear-gradient(60deg, rgba(226,84,255,.1), rgba(226,84,255,.1) 1px, transparent 1px, transparent 60px),
  /* Shape 1 */
  linear-gradient(60deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 75%, rgba(255,255,255,.5) 75%, rgba(255,255,255,.5)),
  /* Shape 2 */
  linear-gradient(120deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 75%, rgba(255,255,255,.5) 75%, rgba(255,255,255,.5));
  background-size: 70px 120px;
  //background-attachment: fixed;
  picture {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 150px;
    width: 150px;
  }

  .ashden {
    @include wedding-party-image("../img/wedding-party/ashden.jpg");
  }

  .britany {
    @include wedding-party-image("../img/wedding-party/britany.jpg");
  }

  .jackiep {
    @include wedding-party-image("../img/wedding-party/jackiep.jpg");
  }

  .jannet {
    @include wedding-party-image("../img/wedding-party/jannet.jpg");
  }

  .kim {
    @include wedding-party-image("../img/wedding-party/kim.jpg");
  }
}
